<!DOCTYPE html>
<html>

<head>
  <title>Details page</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <div class='signup'>
    <form action="/login/user/<%= user.id %>/details" method="post">
      <h2>Welcome to SignUp Page</h2>
      <input type="text" name="fname" placeholder="First Name" id="fname">
      <input type="text" name="lname" placeholder="Last Name" id="lname">
      <input type="Email" name="email" placeholder="Email id" id="email">
      <input type="text" name="uname" placeholder="User Name" id="uname">
      <input type="Password" name="pass" placeholder="Set Password" id="pass">
      <input type="submit" value="Complete">
    </form>
  </div>
</body>

</html>